
<!-- <style>
  body {background-color:lightgrey}
  
  div#head {
      text-align: center;
    position: relative;
	color: black;
}

  div#paragraphs  {
    color: brown;
	position: relative;
	}
	
	div#list {
	
	position: relative;
	color: brown;
	}
	
	div#pageLink {
	
	position: relative;
	color: blue;
	}
	
	div#images {
	
	position: relative;
	}
*/
	
</style> -->

